PORT=8000
DATABASE_URL="postgresql://user:password@localhost:5432/customer_support_rag?schema=public"
GEMINI_API_KEY="your-key"
R2_ACCOUNT_ID=xxxxxxxx
R2_ACCESS_KEY_ID=xxxxxxxx
R2_SECRET_ACCESS_KEY=xxxxxxxx
R2_BUCKET_NAME=customer-support-rag
REDIS_HOST=localhost
REDIS_PORT=6379